<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Overview</h5>
            <table *ngIf="info$ | async as info">
                <tr>
                    <td>Model:</td>
                    <td>{{info.ASICModel}}</td>
                </tr>
                <tr>
                    <td>Uptime:</td>
                    <td>{{info.uptimeSeconds | dateAgo}}</td>
                </tr>
                <tr>
                    <td>Wi-Fi Status:</td>
                    <td>{{info.wifiStatus}}</td>
                </tr>
                <tr>
                    <td>MAC Address:</td>
                    <td>{{info.macAddr}}</td>
                </tr>
                <tr>
                    <td>Free Heap Memory:</td>
                    <td>{{info.freeHeap}} bytes</td>
                </tr>
                <tr>
                    <td>Internal RAM Free:</td>
                    <td>{{info.freeHeapInternal}} bytes</td>
                </tr>
                <tr>
                    <td>PSRAM Free:</td>
                    <td>{{info.freeHeapSpiram}} bytes</td>
                </tr>
                <tr>
                    <td>PSRAM Available:</td>
                    <td>{{info.isPSRAMAvailable ? 'Yes' : 'No'}}</td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>{{info.version}}</td>
                </tr>
                <tr>
                    <td>ESP-IDF Version:</td>
                    <td>{{info.idfVersion}}</td>
                </tr>
                <tr>
                    <td>Board Version:</td>
                    <td>{{info.boardVersion}}</td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-12">
        <div class="card">
            <div class="logs-header">
                <h2>Realtime Logs</h2>
                <div class="log-controls">
                    <button pButton (click)="toggleLogs()" class="btn-secondary control-button">
                        {{showLogs ? 'Hide': 'Show'}} Logs
                    </button>
                    <button pButton class="btn-secondary control-button" (click)="stopScroll = !stopScroll" *ngIf="showLogs">
                        {{stopScroll ? 'Start' : 'Stop'}} Scrolling
                    </button>
                </div>
            </div>

            <div *ngIf="showLogs" id="logs" #scrollContainer>
                <div *ngFor="let log of logs" [ngClass]="log.className">₿ {{log.text | ANSI}}</div>
            </div>
        </div>
    </div>
</div>
